    body{background-color:#e5f022}
     h1{background-color:#22f067; text-align: center; }
     .parent{display:flex}
     .side_menu
     {
        padding-left: 0px;
     }
     .bio
     {
        padding-left: 100px;
        font-size:15px;
        font-weight: bold;
        margin:20px;
     }
